# primeiro modelo: modelo 01

In [2]:
import torchvision.transforms as T
import pandas as pd
from PIL import Image

In [3]:
df_train = pd.read_pickle('Model_Train.pkl')
df_val = pd.read_pickle('Model_Val.pkl')

transforms = T.Compose([
    T.Resize((512,512)),
    T.ToTensor(),
])

def image_loader(image_name):
    image = Image.open(f"images/{image_name}.jpg").convert("RGB")
    image = transforms(image)
    #img = image.permute(1, 2, 0).numpy() # (C, H, W) -> (H, W, C)
    return image

In [4]:
df_train

,img_id,img_origin,img_placement,nr_boil,polygons_boil,nr_pan,polygons_pan
0,IDUXSjTNlUQ59,D,openspace,[],[],"[14, 16]","[[(228.0551181102362, 277.6509186351706), (231..."
1,IDln9t3L,D,roof,[],[],[2],"[[(263.552, 259.584), (316.032, 237.056), (344..."
2,IDdLAJld1z,D,roof,"[1, 1, 1, 1]","[[(313.9878787878788, 384.1294236602629), (339...",[],[]
3,ID6g6IV,D,roof,[],[],[2],"[[(246.784, 171.17866666666666), (283.648, 156..."
4,IDrxyCyN,S,S-unknown,[1],"[[(203.37777777777777, 235.99198396793588), (1...",[],[]
...,...,...,...,...,...,...,...
2434,IDihrLOAdFG,D,roof,[],[],"[1, 2]","[[(312.904, 315.336), (336.072, 314.9946666666..."
2435,IDsJKw1usw,S,S-unknown,[1],"[[(207.08943089430895, 354.3914590747331), (25...",[],[]
2436,IDgGwgxck,D,roof,[],[],[1],"[[(298.752, 237.056), (311.936, 224.4266666666..."
2437,ID2appeumRh,D,roof,[],[],[1],"[[(301.696, 283.4773333333333), (306.048, 261...."
2438,IDN8FZA,S,S-unknown,[2],"[[(248.71544715447155, 327.452865064695), (224...",[],[]